body {
    background: url("../../images/tomatoes_bg.jpg");
    background-position: center;
    background-size: cover;
}

a {
  text-decoration: none;
}

.main {
  background-color: rgba(0, 0, 0, 0.4);
  width: 80vw;
  min-height: 80vh;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__header {
  font-family: "Dancing Script", cursive;
  font-size: 10rem;
  color: white;
  margin-top: 1.5rem;
}

.main__content__header {
  margin-top: 2rem;
  font-family: "El Messiri", sans-serif;
  color: white;
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
}

.main__content {
  background-color: rgba(255, 255, 255, 1);
  width: 70%;
  min-height: 70%;
  margin-top: 2rem;
  border-radius: 3rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.main__content p {
  margin: 2rem;
  font-family: "El Messiri", sans-serif;
  font-size: 3.2rem;
  text-align: center;
}

.main__content a {
  font-family: "El Messiri", sans-serif;
  font-size: 4rem;
  color: black;
  align-self: center;
  background-color: rgba(165, 165, 165, 0.8);
  padding: 1rem 2rem;
  border-radius: 3rem;
  margin-bottom: 3rem;
}

.main__content a:hover {
  background-color: rgba(201, 71, 35, 0.8);
}
